# dotenv environment variables file
/.env

# IDE / Editor
/.idea/

# yml/yaml files
/config/config.*.yaml
/!config/config.sample.yaml

# proto
/pkg/proto/pb/

# static
/static/png/*
!/static/png/logo_example.png

# others
/go.sum